<html>
<head>
    <title>{{ page.title }}</title>
   <link rel="stylesheet" type="text/css" href="/css/normalize.css">
   <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
   <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
    <body>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="/index.html">home</a></li>
          <li class="navbar-item"><a class="navbar-link"
              href="https://github.com/lobachevzky">github</a></li>
          <li class="navbar-item"><a class="navbar-link"
              href="mailto:ethanabrooks@gmail.com">contact me</a></li>
        </ul>
      </div>
    </nav>

        <div class="container">

            {{ content }}

        </div>
    </body>
</html>
