name: Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - gh-pages  # Set this to the branch you want to trigger the build

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Source
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18.x'  # Set this to the Node.js version you need

    - name: Install Dependencies
      run: yarn install

    - name: Build
      run: yarn build 

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist 
